@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

// header
.header
	height: 103px
.logo
	display: block
	float: left
	margin-top: 25px
.telblock
	display: block
	float: right
	color: #eb4b19
	font-size: 40px
	font-weight: bold
	background: img 
	&::before
		content: ' '
		position: absolute
		background: url("../img/phone.png") 0 0 no-repeat
		-webkit-background-size: contain
		background-size: contain
		width: 33px
		height: 46px
		margin-left: -39px
		margin-top: 18px
	a
		font-size: 18px	
		font-weight: normal
		display: block
		text-align: center
		padding: 0
		margin: -12px
		text-decoration: underline
// header-end

// main-menu
.main-menu	
	background-color: #ff602a
	ul
		float: right
		margin: 7px 0
		li 
			display: inline-block
			text-anchor: none
			a 
				font-size: 20px
				color: #093426
				&:hover
					color: #fff
					transition: 1s cubic-bezier(.5, .5, .1, 1)
// main-menu-end
::selection
	background-color: $accent
	color: #fff

@import "media" // Всегда в конце
